Flask==1.0.2
twilio==6.21.0
spacy==2.0.18
nltk==3.4
phue==1.0
pyowm==2.9.0
wikipedia==1.4.0
wolframalpha==3.0.1
pychromecast==2.3.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.0.0/en_core_web_md-2.0.0.tar.gz#egg=en_core_web_md==2.0.0
